* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 30px;
}

footer {
    .container {

        .footer_top {
            display: flex;
            justify-content: space-between;

            ul {
                li {
                    a {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 40px;
                        letter-spacing: 1%;
                        color: #fff;
                    }
                }
            }

            .top_left {

                .tel {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    margin-top: 15px;
                    color: #fff;
                }
            }
        }

        .footer_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #cbc8c8;
            margin-top: 50px;

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 0%;
                color: #fff;
                padding-top: 33px;
            }

            ul {

                display: flex;
                align-items: center;
                gap: 54px;
                padding-top: 33px;

                li {
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 14px;
                        letter-spacing: 0%;
                        color: #fff;
                    }
                }
            }
        }
    }
}