* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 30px;
}

.section1 {
    .container {
        .section_cards {
            display: flex;
            align-items: center;

            .card_text {
                max-width: 41%;

                h1 {
                    font-weight: 700;
                    font-size: 58px;
                    line-height: 84px;
                    letter-spacing: 2%;
                    color: #2563EB;
                }

                p {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: #E5E7EB;
                    padding: 30px 0;
                }

                .btn {
                    width: 30%;
                    height: 40px;
                    background: #2563EB;
                    border: none;
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #F9FAFB;
                    transition: all 1s ease-in-out;
                }
                .btn:hover {
                    border: 3px solid #2563EB;
                    background: none;
                    transform: scale(1.1);
                }

                button {
                    width: 30%;
                    height: 40px;
                    background: none;
                    border: none;
                    border-radius: 5px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #F9FAFB;
                    transition: all 1s ease-in-out;
                }

                button:hover {
                    border: 3px solid #2563EB;
                    background: #2563EB;
                    transform: scale(0.9);
                }
            }

            .card_rasm {
                max-width: 50%;
            }
        }
    }
}